blinker==1.9.0 ; python_version >= "3.12" and python_version < "4.0"
cachetools==5.5.2 ; python_version >= "3.12" and python_version < "4.0"
certifi==2025.1.31 ; python_version >= "3.12" and python_version < "4.0"
charset-normalizer==3.4.1 ; python_version >= "3.12" and python_version < "4.0"
click==8.1.8 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and platform_system == "Windows"
flask-login==0.6.3 ; python_version >= "3.12" and python_version < "4.0"
flask-wtf==1.2.2 ; python_version >= "3.12" and python_version < "4.0"
flask==3.1.0 ; python_version >= "3.12" and python_version < "4.0"
geographiclib==2.0 ; python_version >= "3.12" and python_version < "4.0"
geopy==2.4.1 ; python_version >= "3.12" and python_version < "4.0"
google-api-core==2.24.2 ; python_version >= "3.12" and python_version < "4.0"
google-api-python-client==2.123.0 ; python_version >= "3.12" and python_version < "4.0"
google-auth-httplib2==0.1.1 ; python_version >= "3.12" and python_version < "4.0"
google-auth-oauthlib==1.2.1 ; python_version >= "3.12" and python_version < "4.0"
google-auth==2.38.0 ; python_version >= "3.12" and python_version < "4.0"
google-cloud-core==2.4.3 ; python_version >= "3.12" and python_version < "4.0"
google-cloud-datastore==2.20.2 ; python_version >= "3.12" and python_version < "4.0"
google-cloud-ndb==2.3.2 ; python_version >= "3.12" and python_version < "4.0"
google-cloud-tasks==2.19.2 ; python_version >= "3.12" and python_version < "4.0"
googleapis-common-protos==1.69.2 ; python_version >= "3.12" and python_version < "4.0"
grpc-google-iam-v1==0.14.2 ; python_version >= "3.12" and python_version < "4.0"
grpcio-status==1.71.0 ; python_version >= "3.12" and python_version < "4.0"
grpcio==1.71.0 ; python_version >= "3.12" and python_version < "4.0"
html2text==2024.2.26 ; python_version >= "3.12" and python_version < "4.0"
httplib2==0.22.0 ; python_version >= "3.12" and python_version < "4.0"
idna==2.10 ; python_version >= "3.12" and python_version < "4.0"
itsdangerous==2.2.0 ; python_version >= "3.12" and python_version < "4.0"
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.12" and python_version < "4.0"
oauth2client==4.1.3 ; python_version >= "3.12" and python_version < "4.0"
oauthlib==3.1.0 ; python_version >= "3.12" and python_version < "4.0"
proto-plus==1.26.1 ; python_version >= "3.12" and python_version < "4.0"
protobuf==5.29.4 ; python_version >= "3.12" and python_version < "4.0"
pyasn1-modules==0.2.8 ; python_version >= "3.12" and python_version < "4.0"
pyasn1==0.4.8 ; python_version >= "3.12" and python_version < "4.0"
pymemcache==3.4.0 ; python_version >= "3.12" and python_version < "4.0"
pyparsing==3.2.1 ; python_version >= "3.12" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0"
pytz==2020.1 ; python_version >= "3.12" and python_version < "4.0"
redis==3.5.3 ; python_version >= "3.12" and python_version < "4.0"
requests-oauthlib==1.3.0 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.12" and python_version < "4.0"
rsa==4.6 ; python_version >= "3.12" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.12" and python_version < "4.0"
uritemplate==3.0.1 ; python_version >= "3.12" and python_version < "4.0"
urllib3==2.3.0 ; python_version >= "3.12" and python_version < "4.0"
werkzeug==3.1.3 ; python_version >= "3.12" and python_version < "4.0"
wtforms==2.3.3 ; python_version >= "3.12" and python_version < "4.0"
