/*
 * Copyright Adam Pritchard 2014
 * MIT License : https: //adampritchard.mit-license.org/
 */

.paypal-button {
  background: #ffc439;
  border-radius: 4px;
  padding: 15px;
  max-width: 300px;
  margin: 20px auto;
}

.paypal-button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
  cursor: pointer;
}

.paypal-button__cctext {
  color: white;
  font-size: 18px;
}

.paypal-button__cctext > img {
  vertical-align: text-top;
}

/* We need to reset some of the Bootstrap styles. */
.container {
  padding-right: 0;
  padding-left: 0;
}
