{% import 'imports/form-field.jinja' as form_field %}

{% macro member_form_fields(create_or_renew_or_self_serve, app_config, volunteer_interests, skills_categories) -%}

  {% set bv_common = 'data-bv-message="This value is not valid" data-bv-notempty-message="This value is required" data-bv-emailaddress-message="This value is not a valid email address" ' %}

  {# If the member is filling the form out on their own device (i.e., in 'self-serve'
     mode), then it makes sense to autocomplete fields. But if the member (or
     DECA rep) is filling the form out at, say, the Farmers' Market on a device
     that's there for that reason, then autocomplete will be useless and
     distracting. #}
  {% set autocomplete = 'on' if create_or_renew_or_self_serve == 'self-serve' else 'off' %}

  {% macro my_form_field(field, type='text', value='', placeholder='') -%}
    {{ form_field.input(field, type=type, value=value, placeholder=placeholder,
                               attrs=bv_common, autocomplete=autocomplete) }}
  {%- endmacro %}

  <input name="{{app_config.SHEETS.member.fields.id.name}}" type="hidden" class="hidden" />
  <input name="csrf_token" type="hidden" class="hidden" value="{{ csrf_token() }}" />

  <fieldset>
    <legend>Name</legend>

    <div class="row">
      <div class="col-sm-6">
        {{ my_form_field(app_config.SHEETS.member.fields.first_name) }}
      </div>
      <div class="col-sm-6">
        {{ my_form_field(app_config.SHEETS.member.fields.last_name) }}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        {{ my_form_field(app_config.SHEETS.member.fields.email,
                         type='email',
                         placeholder='hello@example.com') }}
      </div>
      <div class="col-sm-6">
        {{ my_form_field(app_config.SHEETS.member.fields.phone_num) }}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Address</legend>

    <div class="row">
      <div class="col-sm-3">
        {{ my_form_field(app_config.SHEETS.member.fields.apt_num) }}
      </div>
      <div class="col-sm-3">
        {{ my_form_field(app_config.SHEETS.member.fields.street_num) }}
      </div>
      <div class="col-sm-6">
        {{ my_form_field(app_config.SHEETS.member.fields.street_name) }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        {{ my_form_field(app_config.SHEETS.member.fields.city, value='Toronto') }}
      </div>
      <div class="col-sm-6">
        {{ my_form_field(app_config.SHEETS.member.fields.postal_code) }}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Miscellaneous</legend>

    <div class="row">
      <div class="col-sm-12">
        {{ my_form_field(app_config.SHEETS.member.fields.family_names,
                         placeholder='Jill, Jack, Gretel, Hansel') }}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <label class="{{ 'required' if app_config.SHEETS.member.fields.join_location.required else '' }}" style="vertical-align: super;">
            Joined at Farmers' Market:&nbsp;
        </label>
        <div class="form-group btn-group" data-toggle="buttons">
          <label class="btn btn-default btn-lg">
            <input type="radio" name="{{ app_config.SHEETS.member.fields.join_location.name }}" value="farmers-market">yes
          </label>
          <label class="btn btn-default btn-lg active">
            <input type="radio" name="{{ app_config.SHEETS.member.fields.join_location.name }}" value="" checked>no
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <label class="{{ 'required' if app_config.SHEETS.member.fields.volunteer_interests.required else '' }}">
          We base our success on our volunteers. Let us know if you would like to volunteer for any of the following committees:
        </label>
        <div class="form-group"
             data-field-group-name="{{ app_config.SHEETS.member.fields.volunteer_interests.name }}"
             data-field-group-default="">

          <div class="row">
            {# This inputs are not keyboard-accessible and are surely ARIA-unfriendly.
               TODO: Improve that. #}
            {% for volunteer_interest in volunteer_interests %}
              <div class="col-md-4">
                <div class="input-group input-group-lg checkbox-group">
                  <span class="input-group-addon">
                    <i class="fa fa-fw fa-square-o"
                       data-unchecked-icon="fa-square-o"
                       data-checked-icon="fa-check-square-o"></i>
                  </span>
                  <input type="checkbox"
                         class="hidden"
                         name="{{ app_config.SHEETS.member.fields.volunteer_interests.name }}"
                         value="{{ volunteer_interest[app_config.SHEETS.volunteer_interest.fields.interest.name] }}">
                  <span class="form-control">{{ volunteer_interest[app_config.SHEETS.volunteer_interest.fields.interest.name] }}</span>
                </div>
              </div>
              {% if loop.index is divisibleby(3) %}
                </div>
                <div class="row">
              {% endif %}
            {% endfor %}
          </div>

        </div><!-- form-group -->
      </div>
    </div><!-- /row -->

    <div class="row">
      <div class="col-sm-12">
        <label class="{{ 'required' if app_config.SHEETS.member.fields.skills.required else '' }}">
          We need help from people with any of the following skills:
        </label>
        <div class="form-group"
             data-field-group-name="{{ app_config.SHEETS.member.fields.skills.name }}"
             data-field-group-default="">

          <div class="row">
            {# This inputs are not keyboard-accessible and are surely ARIA-unfriendly. TODO: Improve that. #}
            {% for skills_category in skills_categories %}
              <div class="col-md-4">
                <div class="input-group input-group-lg checkbox-group">
                  <span class="input-group-addon">
                    <i class="fa fa-fw fa-square-o"
                       data-unchecked-icon="fa-square-o"
                       data-checked-icon="fa-check-square-o"></i>
                  </span>
                  <input type="checkbox"
                         class="hidden"
                         name="{{ app_config.SHEETS.member.fields.skills.name }}"
                         value="{{ skills_category[app_config.SHEETS.skills_category.fields.category.name] }}">
                  <span class="form-control">{{ skills_category[app_config.SHEETS.skills_category.fields.category.name] }}</span>
                </div>
              </div>
              {% if loop.index is divisibleby(3) %}
                </div>
                <div class="row">
              {% endif %}
            {% endfor %}
          </div>

        </div><!-- form-group -->
      </div>
    </div><!-- /row -->

    {% if create_or_renew_or_self_serve != 'self-serve' %}
      <div class="row">
        <div class="col-sm-12">
          <label>
              Membership dues paid:&nbsp;
          </label>
          <div class="form-group btn-group" data-toggle="buttons">
            <label class="btn btn-default btn-lg active">
              <input type="radio" name="{{ app_config.SHEETS.member.fields.paid.name }}" value="at-registration" checked>yes
            </label>
            <label class="btn btn-default btn-lg">
              <input type="radio" name="{{ app_config.SHEETS.member.fields.paid.name }}" value="N">no
            </label>
          </div>
        </div>
      </div>
    {% endif %}

  </fieldset>

{%- endmacro %}
