{% import 'imports/member-form-fields.jinja' as member_form_fields %}

{% macro member_form(fields, csrf_token, volunteer_interests, skills_categories) -%}

<div id="newMember">
  {# TODO: don't hardcode action #}
  <form action="/new-member" role="form" data-bv-trigger="blur" data-bv-submitbuttons="">

    {{ member_form_fields.member_form_fields('create', fields, csrf_token, volunteer_interests, skills_categories) }}

    <button type="submit" class="btn btn-lg btn-primary">Join DECA!</button>

  </form>

  {% import 'imports/wait-modal.jinja' as wait_modal %}
  {{ wait_modal.wait_modal('create', None) }}

</div>

{%- endmacro %}
