{% extends "base.jinja" %}

{% set page_title = 'Create New Member' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}

<div class="page-header">
  <h1>{{ page_title }} <small class="hidden-xs">Welcome to DECA!</small></h1>
</div>

{% import 'imports/new-member-form.jinja' as member_form %}
{{ member_form.member_form(FIELDS, csrf, volunteer_interests) }}

{% endblock content %}

{% block pagescript_file %}
<script src="/js/new-member.js"></script>
{% endblock %}
