{% extends "base.jinja" %}

{% set page_title = 'Join DECA' %}

{% block title %}{{ page_title }}{% endblock %}

{# Get rid of the header on this page #}
{% block header %}{% endblock %}

{% block content %}

{% import 'imports/self-serve-join-form.jinja' as member_form %}
{% import 'imports/self-serve-volunteer-form.jinja' as volunteer_form %}

<div class="row mode-chooser">
  <div class="col-md-12 text-center">
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-default" value="member">
        Become a DECA Member
      </button>
      <button type="button" class="btn btn-default" value="volunteer">
        Become a DECA Volunteer
      </button>
    </div>
  </div>
</div>

{{ member_form.self_serve_join_form(FIELDS, csrf_token, volunteer_interests, skills_categories, config) }}
{{ volunteer_form.self_serve_volunteer_form(FIELDS, csrf_token, volunteer_interests, skills_categories) }}

{% endblock content %}

{# Get rid of the footer on this page #}
{% block footer %}{% endblock %}

{% block pagestyles_file %}
<link rel="stylesheet" href="/css/self-serve-join.css">
<link rel="stylesheet" href="/css/self-serve-volunteer.css">
<link rel="stylesheet" href="/css/self-serve-combo.css">
{% endblock %}

{% block pagescript_file %}
<script src="/vendor/iframeResizer/iframeResizer.contentWindow.min.js"></script>
<script src="/js/self-serve-join.js"></script>
<script src="/js/self-serve-volunteer.js"></script>
<script src="/js/self-serve-combo.js"></script>
{% endblock %}
