{% extends "base.jinja" %}

{% set page_title = 'Join DECA' %}

{% block title %}{{ page_title }}{% endblock %}

{# Get rid of the header on this page #}
{% block header %}{% endblock %}

{% block content %}

{% import 'imports/member-form.jinja' as member_form %}

<form id="newMemberForm" role="form" data-bv-trigger="blur" data-bv-submitbuttons="">

  {{ member_form.member_form('self-serve', FIELDS, csrf, volunteer_interests) }}

  <div class="row">
    <div class="col-md-12">
      <input id="submitNewMember" type="image" alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif">
    </div>
  </div>

</form>

<hr>

<!-- PayPal Logo -->
<table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/ca/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/ca/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/en_CA/mktg/logo-image/bdg_payments_by_pp_2line.png" border="0" alt="Secured by PayPal"></a><div style="text-align:center"><a href="https://www.paypal.com/ca/webapps/mpp/how-paypal-works"><font size="2" face="Arial" color="#0079CD">How PayPal Works</font></a></div></td></tr></table>
<!-- PayPal Logo -->

<!-- Modal -->
<div id="waitModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="waitModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="waitModalLabel">
          Registering your membership...
        </h4>
      </div>
      <div class="modal-body">
        <div class="success-hide error-hide reset-show">
          {% include 'imports/spinner.jinja' %}
        </div>
        <div class="success-hide error-show reset-hide hidden">
          <div class="alert alert-danger" role="alert">
            <p>
              <strong>Doh!</strong>
              Member creation request failed.
            </p>
            <p id="waitModalServerMessage">
            </p>
            <p class="hidden retry-show">
              It appears that our server hiccuped. Hit the Retry button and see if it has sorted itself out.
            </p>
          </div>
        </div>
        <div class="success-show error-hide reset-hide hidden">
          <div class="alert alert-success" role="alert">
            <p>
            <strong>Yay!</strong>
            First step of registration complete. Now sending you to PayPal...<br>
            </p>
            <p class="text-center">
              <a id="waitModalRedirectLink" href="#" target="_top"><img src="https://www.paypalobjects.com/webstatic/en_CA/mktg/logo-image/pp_cc_mark_111x69.jpg" style="height: 4em;"></a>
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer success-hide error-show reset-hide hidden">
        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
        <button id="waitModalRetry" type="button" class="btn btn-primary btn-lg retry-show hidden">Retry</button>
      </div>
    </div>
  </div>
</div>
<!-- /Modal -->

{% endblock content %}

{# Get rid of the footer on this page #}
{% block footer %}{% endblock %}

{% block pagestyles_file %}
<link rel="stylesheet" href="/css/self-serve-join.css">
{% endblock %}

{% block pagescript_file %}
<script src="https://rawgithub.com/davidjbradshaw/iframe-resizer/master/js/iframeResizer.contentWindow.min.js"></script>
<script src="/js/self-serve-join.js"></script>
{% endblock %}
