{% extends "base.jinja" %}

{% set page_title = 'Join DECA' %}

{% block title %}{{ page_title }}{% endblock %}

{# Get rid of the header on this page #}
{% block header %}{% endblock %}

{% block content %}

{% import 'imports/self-serve-join-form.jinja' as member_form %}
{% import 'imports/self-serve-volunteer-form.jinja' as volunteer_form %}

{{ member_form.self_serve_join_form(FIELDS, csrf, volunteer_interests, config) }}
{{ volunteer_form.self_serve_volunteer_form(FIELDS, csrf, volunteer_interests) }}

{% endblock content %}

{# Get rid of the footer on this page #}
{% block footer %}{% endblock %}

{% block pagestyles_file %}
<link rel="stylesheet" href="/css/self-serve-join.css">
{% endblock %}

{% block pagescript_file %}
<script src="/vendor/iframeResizer/iframeResizer.contentWindow.min.js"></script>
<script src="/js/self-serve-join.js"></script>
<script src="/js/self-serve-volunteer.js"></script>
<script src="/js/self-serve-combo.js"></script>
{% endblock %}
