{% extends "base.jinja" %}

{% set page_title = 'Become a DECA Volunteer' %}

{% block title %}{{ page_title }}{% endblock %}

{# Get rid of the header on this page #}
{% block header %}{% endblock %}

{% block content %}

{% import 'imports/self-serve-volunteer-form.jinja' as volunteer_form %}
{{ volunteer_form.self_serve_volunteer_form(FIELDS, csrf_token, volunteer_interests, skills_categories) }}

{% endblock content %}

{# Get rid of the footer on this page #}
{% block footer %}{% endblock %}

{% block pagestyles_file %}
<link rel="stylesheet" href="/css/self-serve-volunteer.css">
{% endblock %}

{% block pagescript_file %}
<script src="/vendor/iframeResizer/iframeResizer.contentWindow.min.js"></script>
<script src="/js/self-serve-volunteer.js"></script>
{% endblock %}
