<p>
  Welcome to the Danforth East Community Association, a not-for-profit, volunteer-run residents' association!
</p>
<p>
  Thank you for becoming a DECA volunteer and joining the movement to make our community more vibrant, walkable, safe and fun.
</p>
<p>
  We are an entirely volunteer-run organization. Volunteers like you make the programs we all love, such as the East Lynn Farmers’ Market, the Danforth East Arts Fair, and business revitalization team, the Holiday Lighting festival, the Pumpkin Parade, happen! Volunteering with DECA is a great way to meet people, have fun and to make your community a better place. DECA is only as successful as our volunteer energy permits.
</p>
<p>
  <strong>The Important Stuff:</strong><br>
  We've put you on our general volunteer list we contact infrequently when we need extra helping hands. If you indicated a special area of interest, such as the Farmers' Market, your contact info has been sent to the appropriate DECA board member. You may not hear back from her/him right away if there's nothing coming down the pipe, but rest assured your offer to help is valued immensely.
</p>
<p>
  If you'd like to find out more about us, please check out our website, blog or social media accounts - the details are all below. We'd also love to have you join us at our monthly board meetings, where you can meet everyone and share your ideas. Watch for meeting dates and times on the blog, Twitter or Facebook.
</p>
<p>
  <br>
  Loreen Barbour and Gay Stephenson<br>
  Co-chairs, Danforth East Community Association
</p>
<p>
  Email: <a href="mailto:info@deca.to">info@deca.to</a><br>
  Facebook: <a href="https://www.facebook.com/DanforthEastCommunityAssociation/">@DanforthEastCommunityAssociation</a><br>
  Twitter: <a href="https://twitter.com/DECAdiaries">@DECAdiaries</a><br>
  Blog: <a href="http://decadiaries.wordpress.com/">decadiaries.wordpress.com</a><br>
  Website: <a href="http://deca.to/">deca.to</a><br>
  Instagram: <a href="https://twitter.com/DECAdiaries">@DECAdiaries</a><br>
</p>
