<p>
  Dear {{ volunteer_first_name }},
</p>
<p>
  <em>Welcome to the Danforth East Community Association — DECA</em>.
</p>
<p>
  Thank you for signing up to volunteer with DECA in joining our efforts to continue building this into a vibrant, fun and connected community.
</p>
<p>
  As you know, DECA is an entirely volunteer-run organization. The success of the initiatives and events that we have all come to love and enjoy every year including the East Lynn Farmers’ Market, the Danforth East Arts Fair, the Light up Danforth East celebration and the Pumpkin Parade, rely on volunteers like you. Volunteering with DECA, whether every week or for an hour or two here and there, is a great way to meet people, have fun and to play a role in making this community even better.
</p>
<p>
  We have put you on our list of general volunteers and might occasionally contact you when we need an extra set of helping hands.
</p>
<p>
  If you indicated a special area of interest, such as the Farmers’ Market, your contact information has been forwarded to the appropriate DECA board member. You may not hear back from her/him right away especially if there is nothing coming down the pipe, but rest assured your offer to help is appreciated and we will be in touch.
</p>
<p>
  In the meantime, please check out our website, blog and/or social media accounts for information on meeting dates and time, special events and all things Danforth East. You are also welcome to join us at our monthly Board meetings where you can meet everyone and share your ideas.
</p>
<p>
  Thank you again for playing your part in supporting this community.
</p>
<p>
  Jenn and Alisa
</p>
<p>
  Co-Chairs, Danforth East Community Association
</p>
<p>
  Email: <a href="mailto:info@deca.to">info@deca.to</a><br>
  Facebook: <a href="https://www.facebook.com/DanforthEastCommunityAssociation/">@DanforthEastCommunityAssociation</a><br>
  Website: <a href="https://deca.to/">deca.to</a><br>
  Instagram: <a href="https://twitter.com/danforth.east.community">@danforth.east.community</a><br>
</p>
