<p>
  Welcome to the Danforth East Community Association, a not-for-profit, volunteer-run residents' association!
</p>
<p>
  Thank you for purchasing or renewing your DECA membership and joining the movement to make our community more vibrant, walkable, and fun.
</p>
<p>
  Your membership helps run the programs we all love, such as the East Lynn Farmers’ Market, the Danforth East Arts Fair, the Festival of Lights, the Pumpkin Parade, and so much more.
</p>
<p>
  If you'd like to find out more about us, please check out our website, blog or social media accounts – the details are all below. We'd also love to have you join us at our monthly board meetings, where you can meet everyone and share your ideas. Watch for meeting dates and times on the blog, Instagram, or Facebook.
</p>
<p>
  Jennifer Scott<br>
  Chair, Danforth East Community Association
</p>
<p>
  Email: <a href="mailto:info@deca.to">info@deca.to</a><br>
  Facebook: <a href="https://www.facebook.com/DanforthEastCommunityAssociation/">@DanforthEastCommunityAssociation</a><br>
  Website: <a href="https://deca.to/">deca.to</a><br>
  Instagram: <a href="https://twitter.com/danforth.east.community">@danforth.east.community</a><br>
</p>
