<p>
  Welcome to the Danforth East Community Association, a not-for-profit, volunteer-run residents' association!
</p>
<p>
  Thank you for becoming a DECA member and joining the movement to make our community more vibrant, walkable, safe and fun. Woot woot!
</p>
<p>
  Your membership helps run the programs we all love, such as the East Lynn Farmers’ Market, the Danforth East Arts Fair, the Pop-up Shops & business revitalization team, the Holiday Lighting festival, the Pumpkin Parade and so much more.
</p>
<p>
  <strong>The Important Stuff:</strong><br>
  We've put you on our general volunteer list we contact infrequently when we need extra helping hands. If you indicated a special area of interest, such as the Farmers' Market, your contact info has been sent to the appropriate DECA board member. You may not hear back from her/him right away if there's nothing coming down the pipe, but rest assured your offer to help is valued immensely.
</p>
<p>
  If you'd like to find out more about us, please check out our website, blog or social media accounts - the details are all below. We'd also love to have you join us at our monthly board meetings, where you can meet everyone and share your ideas. Watch for meeting dates and times on the blog, Twitter or Facebook.
</p>
<p>
  Anita,<br>
  DECA Chair<br>
  ~on behalf of DECA<br>
</p>
<p>
  Website: danfortheastcommunityassociation.com/<br>
  Blog: decadiaries.wordpress.com/<br>
  Facebook: facebook.com/DanforthEastCommunityAssociation<br>
  Pinterest: pinterest.com/danfortheast/<br>
  Twitter: <a href="https://twitter.com/DECAdiaries">@DECAdiaries</a><br>
</p>
