<p>
  You are currently listed as a DECA representative for the volunteer interest area of "{{ interest }}". A new {{ join_type|upper }} has joined who has expressed interested in volunteering in that area:
</p>
<p>
  {{ member_name }}<br>
  {{ member_email }}
</p>
<p>
  Please contact them at your earliest convenience.
</p>
