<p>
  Dear {{ member_first_name }},
</p>
<p>
  Thank you for your continued renewal of your membership with the Danforth East Community Association! DECA’s membership is a pay-what-you-can fee. We recommend a $20 donation for families but welcome everyone who works or lives in our community and wants to support DECA’s efforts to build a strong, vibrant and safe neighbourhood to join.  Your membership support helps put on some amazing activities in our community, including the East Lynn Park Farmers’ Market, the Danforth East Arts Fair, the East Lynn Park Pumpkin Parade, the Danforth East Yard Sale, the Holiday Lighting Festival, and much more.
</p>
<p>
  You've opted for an automatic yearly renewal through Paypal for your membership, so you do not need to do anything to keep your DECA subscription active.
</p>
<p>
  Thank you again for supporting our community!
</p>
<p>
  Amanda<br>
  ~ DECA Membership &amp; Volunteer Manager
</p>
<p>
  <i>p.s.</i> If you have not already subscribed to the DECA Diaries blog — <a href="https://deca.to/blog/">add your email address</a> to get news delivered to your inbox! The blog is used to keep you updated on events in our neighbourhood and is the best way to stay informed on local issues, events, new businesses, and more.
</p>
