<p>
  Dear {{ member_first_name }},
</p>
<p>
  Thank you for your past support of and membership in the Danforth East Community Association — DECA!
</p>
<p>
  Since we formed in 2007, our focus has been on continuing to build a strong, connected and engaged community. Your support, both through your membership and participation in DECA-sponsored events, enables us to continue to work in and with the community. Memberships, along with the money we raise at our annual Danforth East Art Fair in September, allows us to continue running our our weekly Farmers’ Market at East Lynn Park on Thursdays between June and October, the Danforth East Yard Sale in June, as well as our annual Pumpkin Parade and Light Up Danforth East winter event. It also supports the activities of the Visioning Committee, who advocate for responsible city planning.
</p>
<p>
  It's time to renew your membership. You've opted for an automatic yearly renewal through Paypal for your membership, so you do not need to do anything to keep your DECA subscription active.
</p>
<p>
  If you have not already subscribed to the DECA Diaries blog — <a href="https://deca.to/blog/">add your email address</a> to get news delivered to your inbox! The blog is a great way to stay informed not only about DECA initiatives, but also local issues, events, new businesses and so much more.
</p>
<p>
  Thank you again for supporting our community!
</p>
<p>
  Jenn and Alisa
</p>
<p>
  Co-Chairs, Danforth East Community Association
</p>
<p>
  Email: <a href="mailto:info@deca.to">info@deca.to</a><br>
  Facebook: <a href="https://www.facebook.com/DanforthEastCommunityAssociation/">@DanforthEastCommunityAssociation</a><br>
  Website: <a href="https://deca.to/">deca.to</a><br>
  Instagram: <a href="https://instagram.com/danforth.east.community">@danforth.east.community</a><br>
</p>
