<p>
  Dear {{ member_first_name }},
</p>
<p>
  <em>Welcome to the Danforth East Community Association — DECA: a not-for-profit, volunteer-run community association!</em>
</p>
<p>
  Thank you (!) for purchasing or renewing your DECA membership and joining our efforts to make our community a fun, vibrant and welcoming space to live, work and connect with each other.
</p>
<p>
  Alongside our main fundraising event, the Danforth East Art Fair in September, your membership allows DECA, with support from community partners, to host the events that we have all come to love including our weekly Farmers’ Market at East Lynn Park, and our now annual Pumpkin Parade and Light up Danforth East events. Your support also helps the DECA visioning committee advocate for responsible city planning that reflects a respect for community and the environment.
</p>
<p>
  Please check out our website (<a href="https://deca.to/">deca.to</a>), blog or social media accounts to learn more about DECA. You will also find information there on meeting dates and times, special events and all things Danforth East. There are numerous opportunities throughout the year for you to volunteer in some way – big or small – and our members are welcome to join us at our regular board meetings, where you can meet other members and the Board to share your ideas for the community.
</p>
<p>
  Thank you again for supporting our community!
</p>
<p>
  Jenn and Alisa
</p>
<p>
  Co-Chairs, Danforth East Community Association
</p>
<p>
  Email: <a href="mailto:info@deca.to">info@deca.to</a><br>
  Facebook: <a href="https://www.facebook.com/DanforthEastCommunityAssociation/">@DanforthEastCommunityAssociation</a><br>
  Website: <a href="https://deca.to/">deca.to</a><br>
  Instagram: <a href="https://instagram.com/danforth.east.community">@danforth.east.community</a><br>
</p>
