<p>
  Welcome to the Danforth East Community Association (DECA).  Thank you for becoming a DECA member and joining the movement to make our community more vibrant, walkable, safe and awesome!
</p>
<p>
  <b>What's next?</b>
</p>
<p>
  Joining DECA is an amazing way to support our efforts and events, including the East Lynn Farmers’ Market, the Danforth East Community Arts Fair, and business revitalization team, the Holiday Lighting festival, the Pumpkin Parade and so much more!
</p>
<p>
  <b>Getting more involved</b>
</p>
<p>
  Some people see joining us as only the first step in getting more involved with the community. If this is you, then consider signing up to get DECA Diaries blog posts (with all the "news you can use") delivered right to your inbox by clicking on the link (note that this is only the first of a two-step sign-up process):<br>
  <a href="http://feedburner.google.com/fb/a/mailverify?uri=wordpress/sGtL&loc=en_US">http://feedburner.google.com/fb/a/mailverify?uri=wordpress/sGtL&loc=en_US</a>
</p>
<p>
  If you checked off that you'd like to volunteer with us, we've put you on our general call out list for when we'd love a few extra hands. DECA is 100% volunteer-run so we are very grateful for help!
</p>
<p>
  Our social media sites are all listed below so there's lots of ways to keep in touch. For anything not covered here, send us any email anytime at:<br>
  <a href="mailto:info@deca.to">info@deca.to</a>
</p>
<p>
  Thanks again for your support!
</p>
<p>
  <br>
  Loreen Barbour and Gay Stephenson<br>
  Co-chairs, Danforth East Community Association
</p>
<p>
  Email: <a href="mailto:info@deca.to">info@deca.to</a><br>
  Facebook: <a href="https://www.facebook.com/DanforthEastCommunityAssociation/">@DanforthEastCommunityAssociation</a><br>
  Twitter: <a href="https://twitter.com/DECAdiaries">@DECAdiaries</a><br>
  Blog: <a href="http://decadiaries.wordpress.com/">decadiaries.wordpress.com</a><br>
  Website: <a href="http://deca.to/">deca.to</a><br>
  Instagram: <a href="https://twitter.com/DECAdiaries">@DECAdiaries</a><br>
</p>
