<p>
  Dear {{ member_first_name }},
</p>
<p>
  Thank you for your continued renewal of your membership with the Danforth East Community Association! The good news is that it's still only $10 for a family membership for a year. And your $10 helps put on some amazing activities in our community, including the East Lynn Park Farmers' Market, the Danforth East Arts Fair, the East Lynn Park Pumpkin Parade, the Danforth East Yard Sale, the Holiday Lighting Festival, and much more.
</p>
<p>
  You've opted for an automatic yearly renewal through Paypal for your membership, so you do not need to do anything to keep your DECA subscription active.
</p>
<p>
  Thank you again for supporting our community!
</p>
<p>
  Amanda<br>
  ~ DECA Membership & Volunteer Manager
</p>
